<main>
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 style="-webkit-text-stroke: 2px white; color: white;" class=" display-2 fw-light opacity-75 ">Rock
                    ballads</h1>
                <p class="lead text-body-secondary">
                    Магазин музыкальных инструментов
                </p>
            </div>
            <div class="container">
                {% if header_products %}
                {% for product in header_products %}
                <ul class="list-group opacity-95">
                    <li class="list-group-item text-start"><a href="{% url 'catalog:product_detail' product.pk %}">{{product.name|truncatechars:20}} </a>
                        <p> {{product.description|truncatechars:100}}</p></li>
                    {% empty %}
                    <li class="text-muted">Пока нет продуктов</li>
                </ul>
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </section>
</main>