{% extends 'base.html' %}
{% load my_tags %}
{% block content %}

<div class="container bg-image my-5 shadow p-3 mb-5 bg-body-tertiary rounded">
    <h1 class="text-center">{{ info.name }}</h1>
    <div class="row ">
        {% if info.image %}
        <div class="card mb-3" style="max-width: 100%;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img class="object-fit-cover" style="height: 100%; width: 100%;"
                         src="{{ info.image|media_filter }}" alt="{{ product.name }}">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item text-end"><p class="opacity-75 ">Название модели: </p> {{ info.name }}</li>
                            <li class="list-group-item"><p class="opacity-75 text-end">Описание: </p>{{ info.description }}</li>
                            <li class="list-group-item text-end"><p class="opacity-75">Категория товара:</p> {{ info.category }}</li>
                            <li class="list-group-item"><p class="opacity-75 text-end">Описание: </p>{{ info.description }}</li>
                            <li class="list-group-item text-end"><p class="opacity-75">Цена:</p> {{ info.purchase_price }}  руб.</li>
                            <li class="list-group-item text-end"><p class="opacity-75">Дата публикации: </p>{{ info.created_at|date:"d M Y" }}
                            </li>
                            <li class="list-group-item text-end"><p class="opacity-75">Дата последнего изменения публикации: </p>{{ info.updated_at|date:"d M Y" }}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <a href="{% url 'catalog:product'%}" class="btn btn-dark">К списку товаров</a>
        </div>
        {% endif %}

    </div>
</div>

{% endblock %}