{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}
<div class="container bg-image my-5 shadow p-3 mb-5 bg-body-tertiary rounded">
      <h1 class="text-center fw-bold"> Категории товаров </h1>
    <div class="row ">
        <div class="container text-white">
            <ul>
                {% for objects in object_list %}
                <li>
                    {{ objects.name }} - {{ objects.description|truncatechars:100 }}
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
